.container {
	margin: 0 auto;
	text-align: center;
}

.kevlink {
	text-decoration: none;
	color: #287EE8;
}

.enlarge {
	text-decoration: none;
	color: #287EE8;
	font-size: 24px;
}

.initialSize {
	text-decoration: none;
	color: #287EE8;
	font-size: initial;
}

ul {
	list-style: none;
}